h1{
font-family:Arial;
color:blue;
text-transform:uppercase;
}
h2{
font-family:verdana;
color:green;
text-transform:uppercase;
}
h1::before{

content:url(smiley.gif);

}

p{

font-family:Georgia;
text-decoration:none;
}
